body{
    background-image:linear-gradient(red,yellow,green,violet,pink,violet);
}

.fa{
    color: rgb(104, 104, 116);
}

.box-part{
    background-color: aliceblue;
    padding: 40px 5px;
    margin: 30px 0px;
}

span{
    font-size: medium;
}

a{
    border-bottom: 1px solid blue;
}
.box{
    padding: 60px 0px;
}